.container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    list-style: none;
   
  }
  
  .name {
    font-size: 18px;
    font-weight: 600;
  }
  
  .number {
    font-size: 18px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: gray;
  }
  
  .btn {
    display: block;
    padding: 5px 10px;
    background-color: #a584ed;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    min-width: 100px;
  }